# Core dependencies
kafka-python
confluent-kafka
fastapi
uvicorn
python-dotenv
pydantic

# Data processing and analysis
pandas
numpy
scikit-learn
tensorflow
transformers

# Database
sqlalchemy
pymongo
redis

# API clients
requests
tweepy
plaid-python

# Monitoring and logging
prometheus-client
opentelemetry-api
opentelemetry-sdk
python-logging-loki

# Testing
pytest
pytest-asyncio

# Documentation
sphinx


# Install kaggle api for downloading datasets
kaggle